<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>HERE IoT Platform Examples - WaliedCheetos</title>

    <!-- stylesheets -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />

    <!-- scripts -->
    <script src="~/js/modernizr-2.6.2.js"></script>
    <!--[if lt IE 9 ]>
        <script src="/Scripts/html5shiv.min.js"></script>
        <script src="/Scripts/respond.min.js"></script>
    <![endif]-->
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script>
        $(function () {
            // #sidebar-toggle-button
            $('#sidebar-toggle-button').on('click', function () {
                $('#sidebar').toggleClass('sidebar-toggle');
                $('#page-content-wrapper').toggleClass('page-content-toggle');
                fireResize();
            });

            // sidebar collapse behavior
            $('#sidebar').on('show.bs.collapse', function () {
                $('#sidebar').find('.collapse.in').collapse('hide');
            });

            // To make current link active
            (function addActiveClassToNestedList() {
                var pageURL = $(location).attr('href');
                var URLSplits = pageURL.split('/');

                var routeURL = '/' + URLSplits[URLSplits.length - 3] + '/' + URLSplits[URLSplits.length - 2] + '/';
                var activeNestedList = $('.sub-menu > li > a[href="' + routeURL + '"]').parent();

                if (activeNestedList.length !== 0 && !activeNestedList.hasClass('active')) {
                    $('.sub-menu > li').removeClass('active');
                    activeNestedList.addClass('active');
                }
            })();

            function fireResize() {
                if (document.createEvent) { // W3C
                    var ev = document.createEvent('Event');
                    ev.initEvent('resize', true, true);
                    window.dispatchEvent(ev);
                }
                else { // IE
                    element = document.documentElement;
                    var event = document.createEventObject();
                    element.fireEvent("onresize", event);
                }
            }

        });
    </script>

</head>
<body>
    <!-- header -->
    <nav id="header" class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div id="sidebar-toggle-button">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="brand">
                    <a href="/">
                        HERE IoT Platform ExampleS <span class="hidden-xs text-muted">by Walied Cheetos</span>
                    </a>
                </div>

            </div>
        </div>
    </nav>
    <!-- /header -->
    <!-- sidebar -->
    <div id="sidebar" class="sidebar-toggle">
        <ul class="nav nav-sidebar">
            <li>
                <a href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>HOME</span>
                </a>
            </li>
            <li role="separator" class="divider"></li>

            <!-- chart types -->
            <li data-toggle="collapse" href="#charttypes" aria-expanded="true" aria-controls="chart-types">
                <a href="#">
                    <i class="fa fa-area-chart" aria-hidden="true" style="width: 13px;"></i>
                    <span>CHART TYPES</span>
                </a>
            </li>

            <li>
                @*<ul id="charttypes" class="sub-menu collapse @if(Request.Url.AbsoluteUri.ToString().Contains("charttypes/")) { @Html.Raw("in") }">*@
                <ul id="charttypes" class="sub-menu collapse">
                    <li><a href="/charttypes/column/">Column Chart</a></li>
                    <li><a href="/charttypes/line/">Line Chart</a></li>
                    <li><a href="/charttypes/stepline/">Step Line Chart</a></li>
                    <li><a href="/charttypes/spline/">Spline Chart</a></li>
                    <li><a href="/charttypes/steparea/">Step Area Chart</a></li>
                    <li><a href="/charttypes/area/">Area Chart</a></li>
                    <li><a href="/charttypes/splinearea/">Spline Area Chart</a></li>
                    <li><a href="/charttypes/bar/">Bar Chart</a></li>
                    <li><a href="/charttypes/pie/">Pie Chart</a></li>
                    <li><a href="/charttypes/doughnut/">Doughnut Chart</a></li>
                    <li><a href="/charttypes/bubble/">Bubble Chart</a></li>
                    <li><a href="/charttypes/scatter/">Scatter Chart</a></li>
                    <li><a href="/charttypes/stackedcolumn/">Stacked Column Chart</a></li>
                    <li><a href="/charttypes/stackedcolumn100/">Stacked Column 100% Chart</a></li>
                    <li><a href="/charttypes/stackedarea/">Stacked Area Chart</a></li>
                    <li><a href="/charttypes/stackedarea100/">Stacked Area 100% Chart</a></li>
                    <li><a href="/charttypes/stackedbar/">Stacked Bar Chart</a></li>
                    <li><a href="/charttypes/stackedbar100/">Stacked Bar 100% Chart</a></li>
                    @*<li><a href="#">Range Column Chart</a></li>
                        <li><a href="#">Range Bar Chart</a></li>
                        <li><a href="#">Range Area Chart</a></li>
                        <li><a href="#">Range Spline Area Chart</a></li>
                        <li><a href="#">OHLC Chart</a></li>
                        <li><a href="#">Candlestick Chart</a></li>*@
                </ul>
            </li>
            <!-- /chart types -->

            <li role="separator" class="divider"></li>

            <!--  features -->
            <li data-toggle="collapse" href="#features" aria-expanded="false" aria-controls="features">
                <a href="#">
                    <i class="fa fa-flask" aria-hidden="true"></i>
                    <span>FEATURES</span>
                </a>
            </li>

            <li>
                @*<ul id="features" class="sub-menu collapse @if(Request.Url.AbsoluteUri.ToString().Contains("features/")) { @Html.Raw("in") }">*@
                <ul id="features" class="sub-menu collapse">
                    <li><a href="/features/zoomingpanning/">Zooming &amp; Panning</a></li>
                    <li><a href="/features/exportchart/">Export Chart as Image</a></li>
                    <li><a href="/features/eventhandling/">Events</a></li>
                    <li><a href="/features/logaxis/">Logarithmic Axis</a></li>
                    <li><a href="/features/reverseaxis/">Reverse Axis</a></li>
                    <li><a href="/features/datetime/">Date Time Axis</a></li>
                    <li><a href="/features/striplines/">StripLines</a></li>
                    <li><a href="/features/multipleyaxis/">Multiple Y Axis</a></li>
                    <li><a href="/features/multiserieschart/">Multiseries Charts</a></li>
                </ul>
            </li>
            <!--  /features -->

            <li role="separator" class="divider"></li>

            <!--  how to  -->
            <li data-toggle="collapse" href="#howto" aria-expanded="false" aria-controls="how-to">
                <a href="#">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <span>HOW TO</span>
                </a>
            </li>

            <li>
                @*<ul id="howto" class="sub-menu collapse @if(Request.Url.AbsoluteUri.ToString().Contains("howto/")) { @Html.Raw("in") }">*@
                <ul id="howto" class="sub-menu collapse">
                    <li><a href="/howto/enabledisableds/">Hide / Show DataSeries</a></li>
                    <li><a href="/howto/livechart/">Dynamic / Live Chart</a></li>
                    <li><a href="/howto/syncmultiplecharts/">Sync Mulitple Charts</a></li>
                    <li><a href="/howto/adddatapointsfromuserinput/">Add Data Points From User Input</a></li>
                    <li><a href="/howto/multiplechartsinapage/">Multiple Charts in a Page</a></li>
                    <li><a href="/howto/playstoplivechart/">Play / Stop Live Chart</a></li>
                    <li><a href="/howto/createchartfromjson/">Charts using JSON &amp; AJAX</a></li>
                    <li><a href="/howto/createchartfromxml/">Charts using XML &amp; AJAX</a></li>
                    <li><a href="/howto/createchartfromcsv/">Charts using CSV &amp; AJAX</a></li>
                    <li><a href="/howto/datafromdatabase">Render Data From Database</a></li>
                </ul>
            </li>
            <!--  /how to  -->

            <li role="separator" class="divider"></li>
        </ul>
    </div>
    <!-- /#sidebar -->
    <!-- page-content-wrapper -->
    <div id="page-content-wrapper" class="page-content-toggle">
        <div class="container-fluid">
            <h1>@ViewBag.Title</h1>

            <div class="row">
                <div id="content" class="col-md-8 col-md-offset-1 col-xs-12">
                    @RenderBody()
                </div> <!-- /content-->
            </div> <!-- /row -->
        </div> <!-- /container-fluid -->
        <!-- footer -->
        <div id="footer">
            <p class="text-muted">&#169; 2019 HERE Europe B.V. - WaliedCheetos</p>
        </div>
        <!-- /footer -->
    </div>
    <!-- /page-content-wrapper -->

</body>
</html>